*.egg-info/
*.log
*.whl
.DS_Store
__pycache__/
build/
dist/
site/
Ignored/
spotGUI.code-workspace
src/spotGUI/_version.py
src/spotGUI/_version*.py
Figures.d/*
notebooks/runs/
notebook/runs/*
notebook/runs/*/*
