*.egg-info/
*.log
*.whl
.DS_Store
__pycache__/
build/
dist/
site/
Ignored/
spotGUI.code-workspace
src/spotGUI/_version.py
src/spotGUI/_version*.py
Figures.d/*
notebooks/runs/
notebook/runs/*
notebook/runs/*/*
src/spotGUI/gui/plot.png
src/spotGUI/gui/runs/lightning_logs/*
src/spotGUI/gui/runs/spot_logs/*
src/spotGUI/gui/runs_OLD/*
src/spotGUI/gui/spot_00experiment.pickle
gui/runs/lightning_logs/*
gui/runs/spot_logs/*
src/spotGUI/tuner/runs/lightning_logs/*
src/spotGUI/tuner/runs/spot_logs/*
src/spotGUI/tuner/runs_OLD/*
gui/runs_OLD/*
gui/spot_SPOT_0000experiment.pickle
gui/SPOT_0000_core_model.json
gui/SPOT_0000_fun_control.json
gui/plot.png
runs/spot_logs/*
gui/spot_0000-0000_experiment.pickle
gui/spot_SPOT_0000_experiment.pickle
spot_test_experiment.pickle
spotPythonGUI/plot.png
spotPythonGUI/runs/*
spotPythonGUI/runs_OLD/*
spotRiverGUI/runs/*
spotRiverGUI/runs_OLD/*
spotPythonGUI/SPOT_0000_core_model.json
spotPythonGUI/SPOT_0000_fun_control.json
spotRiverGUI/plot.png
spotRiverGUI/*.pickle
spotPythonGUI/*.pickle
spotRiverGUI/spot_00_report.txt
spotRiverGUI/spot_01_report.txt
spotRiverGUI/spot_*_report.txt
